
*{
    font-family: 'Montserrat', sans-serif;
}
#mainbody_container{
    background-color: black;
}
#slide_show{
    height: 600px;
    min-width: 100%;
}
#slide_show>img{
    width: 100%;
    height: 100%;
    transition: 0.25s;
}
.category_text{
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    margin: 40px;
}