* {
    font-family: 'Montserrat', sans-serif;
}

#mainbody_container {
    background-color: black;
}

#slide_show{
    height: 600px;
    min-width: 100%;
}

#slide_show>img {
    width: 100%;
    height: 100%;
    transition: 0.25s;
}
                /*------ Category Text class Design ----------*/

.category_text {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 20px;
}
.category_text>div{
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #212529;
}
.category_text>div>button{
    font-size: 16px;
    font-weight: 1000;
    padding: 0 0 12px;
    background: none;
    color: #FFFFFF;
    letter-spacing: 2px;
    cursor: pointer;
}
.category_text>div>button:first-child{
    color: red;
    border-bottom: 2px solid red;
}
.category_text>div>button:focus{
    transition: all 0.25s;;
}

/*-------- Products cards styles --------*/

#best_seller_products,#smart_watches,#trending_wireless,#trending_earbuds,
#trending_wired,#gaming{
    height: 470px;
    width: 90%;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    overflow-y: hidden;
}

#wireless,#anc,#wired{
    height: 470px;
    width: 90%;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    overflow: hidden;
}
#best_seller_products::-webkit-scrollbar,#smart_watches::-webkit-scrollbar,
#trending_wireless::-webkit-scrollbar,#trending_earbuds::-webkit-scrollbar,
#trending_wired::-webkit-scrollbar,#gaming::-webkit-scrollbar{
    display: none;
}
#trending_earbuds,#anc,#wired{
    display: none;
}
.cards {
    min-width: 330px;
    margin: auto;
    padding: 7px;
    background-color: #E3E3E3;
    height: auto;
    border-radius: 10px;
}

.content {
    background-color: white;
    padding: 9px;
    border-radius: 10px;
}

.cards>img {
    height: 250px;
    width: 250px;
    margin-left: 40px;
}

.cards>img:hover {
    cursor: pointer;
    transition: all .25s;
    filter: brightness(160%);
}

.row1 {
    margin-top: -16px;
    display: flex;
    gap: 8px;
}

.row2 {
    display: flex;
    margin-top: 10px;
    font-size: 15px;
    gap: 10px;
}

.row2>div:nth-child(1) {
    color: red;
    font-weight: bold;
}

.row2>div:nth-child(2) {
    text-decoration: line-through;
}

.row3 {
    margin-top: 10px;
    font-size: 13px;
}

.row1>img {
    margin-top: 0px;
    width: 13px;
    height: 13px;
}

.row1>div>img {
    margin-top: 0px;
    width: 20px;
    height: 20px;

}

.row1>div>p {
    margin-top: 0px;
    margin-top: 0px;
    font-size: 12px;
}

.cart_button {
    width: 300px;
    margin-left: 6px;
    margin-top: 10px;
    height: 32px;
    padding: 8px 0px 8px 0px;
    background-color: red;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;

}
h1{
    color: white;
}
h4{
    margin-top: 2px;
    font-size: 15px;
}
h1{
    margin-top: 0px;
}
.yousave{
    width: 90px;
    padding: 5px;
    font-size:  11px;
    font-weight: bold;
    color: red;
    background-color: white;
    margin-left: -6px;
    margin-top: 6px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
            /*--------- Boat BlogS ------*/
#blog_container{
    background-color: #E3E3E3;
    margin-top: -40px;
    padding: 80px;
    text-align: center;
}
.boat_text{
    background-color: #E3E3E3;
    text-align: center;
    color: #212529;
    padding-top: 10px;
    font-size: 30px;
}
#blog_container>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
#blog_container>div>div>img{
    width: 100%;
}
#blog_container>div>div>p{
    font-size: 25px;
    font-weight: bolder;
    color: black;
}
#blog_container>div>div>p:hover{
    color: red;
    cursor: pointer;
}
#blog_container>button{
    background-color: red;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bolder;
    padding: 20px 40px;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
}
#blog_container>button:hover{
    background-color: rgb(210, 8, 8);
    transition: .25s;
}
                    /* boAt head Celebrity K L Rahul---------  */
#boathead_container{
    display: flex;
    justify-content: start;
    align-items: center;
    color:#FFFFFF;
    padding: 100px 250px;
    background-color: black;
}
#boathead_container>div{
    height: 600px;
    width: 50%;
    margin: auto;
}
#boathead_container>div:first-child{
    width: 40%;
}
#boathead_container>div>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#boathead_container>div>h2{
    font-size: 35px;
    margin-bottom: 0px;
}
#boathead_container>div>h2>span{
    color: red;
}
#boathead_container>div>h2+p{
    color: #FF0000;
    font-size: 25px;
    font-weight: bold;
    border-top: 2px solid #FF0000;
    display: inline-block;
    padding-top: 30px;
}
#boathead_container>div>h2+p+p{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 0px;
}
#boathead_container>div>h2+p+p+p{
    font-size: 17px;
}





@media all and (min-width: 100px) and (max-width: 950px) {
    #best_seller_products,#smart_watches,#trending_wireless,#trending_earbuds,
    #trending_wired,#gaming{
    overflow-y: scroll;
    }
    .boat_text{
        font-size: 25px;
    }
    #blog_container>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }
    #blog_container>div>div{
        display: flex;
        justify-content: space-evenly;
    }
    #blog_container>div>div>img{
        width: 50%;
        margin-right: 20px;
    }
    #blog_container>div>div>p{
        font-size: 18px;
        text-align: left;
    }
    #boathead_container{
        display: block;
        padding: 50px 20%;
    }
    #boathead_container>div{
        width: 100%;
        margin: auto;
        height: fit-content;
    }
    #boathead_container>div:first-child{
        width: 100%;
    }
}