*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    border: 0px;
    color: rgb(198, 195, 191);
}

#pic1{
      width: 100%;
}

#box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    width: 85%;
    background-color: white;
    height: 40%;
    margin-top: -4px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    
}
#box>div{
    width: 100%;
    text-align: center;
   
    font-size: 20px;
    line-height: 25px;
    border-radius: 20px;
    height: 150px;
    color: white;
    margin-left: 0px;
    
     
}

#all{
    width: 100%;
     
}
#cash{
    font-size: 20px;
    color: rgb(20, 20, 20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tc{
    font-size: 10px;
   margin-left:   190px;
   border: 1px solid rgb(186, 183, 183);
   width: 40%;
   margin-top: -30px;
   color: black;
}
#val{
    margin-right: 250px;
    font-size: 20px;
    margin-top: 30px;font-weight: bold;
    color: rgb(24, 23, 23);
}

#date{
    margin-right: 220px;
    margin-top: 20px;font-weight: bold;
    font-size: 15px;
    color: black;
}
#container{
    
    padding: 35px;
     display: flex;
     justify-content: center;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: auto;
     gap: 25px;
     
 }
 .cards{
     /* position: relative; */
     width: auto;
     padding: 7px;
     background-color: #E3E3E3;
     height: auto;
     border-radius: 10px;
 }
 .content{
     background-color: white;
     padding: 9px;
     border-radius: 10px;
 }
 .cards>img{
     height: 250px;
     width: 250px;
     margin-left: 40px;
 }
 .cards>img:hover{
     cursor: pointer;
 }
 .row1{
     margin-top: -16px;
     display: flex;
     gap: 8px;
 }
 .row2{
     display: flex;
     margin-top: 10px;
     font-size: 15px;
     gap: 10px;
 }
 .row2>div:nth-child(1){
     color: red;
     font-weight: bold;
 }
 .row2>div:nth-child(2){
     text-decoration: line-through;
 }
 .row3{
     margin-top: 10px;
     font-size: 13px;
 }
 .row1>img{
     margin-top: 45px;
     width: 13px;
     height: 13px;
 }
 .row1>div>img{
     margin-top: 40px;
      width: 20px;
     height: 20px;
 
 }
 .row1>div>p{
     margin-top: 15px;
     margin-left: 10px;
     font-size: 15px;
     color: rgb(26, 24, 24);
 }
 button{
     width: 300px;
    margin-left: 6px;
     margin-top: 10px;
     height: 32px;
     padding: 8px 0px 8px 0px;
     background-color: red;
     border: none;
     color: white;
     font-size: 15px;
     font-weight: bold;
     border-radius: 5px;
    
 }
 h1{
     color: white;
 }
 h4{
     margin-top: 10px;
     font-size: 15px;
     color: rgb(7, 7, 7);
 }
 h1{
     margin-top: 0px;
 }
 .yousave{
     width: 90px;
     padding: 5px;
     font-size:  11px;
     font-weight: bold;
     color: red;
     background-color: white;
     margin-left: -6px;
     margin-top: 6px;
     border-bottom-right-radius: 5px;
     border-top-right-radius: 5px;
 }
 #filtersort{
     display: flex;
     justify-content: space-between;
 }
 #lab{
     margin-left: 50px;
 }
 #sortby{
    margin-right: 10px;
    padding: 10px;
    border-radius: 40px;
    background-color: rgb(15, 1, 1);
    color: rgb(243, 235, 235);
    border: 0px;
    gap: 10px;
    margin-top: 40px;
 }
 #off{
    margin-left: 40px;
 }



 