*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #212529;
    margin: 0px;
}
/* --css for product page of wireless Earbuds */
#banner>img{

    width: 100%;
    margin: 0px;
}
.products_name{
    display: flex;
    gap: 8px;
    position: absolute;
    top: 30px;
    left: 50px;
    
}
a{
    text-decoration: none;
    color: #ababab;
    font-size: 14px;
}
.products_name>div:nth-child(2){
    text-decoration: none;
    color: white;
    font-size: 13px;
}
#container{
    
   padding: 35px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 25px;
    
}
.cards{
    /* position: relative; */
    width: auto;
    padding: 7px;
    background-color: #E3E3E3;
    height: auto;
    border-radius: 10px;
}
.content{
    background-color: white;
    padding: 9px;
    border-radius: 10px;
}
.cards>img{
    height: 250px;
    width: 250px;
    margin-left: 40px;
}
.cards>img:hover{
    cursor: pointer;
}
.row1{
    margin-top: -16px;
    display: flex;
    gap: 8px;
}
.row2{
    display: flex;
    margin-top: 10px;
    font-size: 15px;
    gap: 10px;
}
.row2>div:nth-child(1){
    color: red;
    font-weight: bold;
}
.row2>div:nth-child(2){
    text-decoration: line-through;
}
.row3{
    margin-top: 10px;
    font-size: 13px;
}
.row1>img{
    margin-top: 0px;
    width: 13px;
    height: 13px;
}
.row1>div>img{
    margin-top: 0px;
     width: 20px;
    height: 20px;

}
.row1>div>p{
    margin-top: 0px;
    margin-top: 0px;
    font-size: 12px;
}
button{
    width: 300px;
   margin-left: 6px;
    margin-top: 10px;
    height: 32px;
    padding: 8px 0px 8px 0px;
    background-color: red;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
   
}
h1{
    color: white;
}
h4{
    margin-top: 2px;
    font-size: 15px;
}
h1{
    margin-top: 0px;
}
.yousave{
    position: relative;
    left: 39px;
    top: 587px;
    background-color: white;
    font-size: 12px;
    color: red;
    font-weight: bold;
    padding: 5px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
#filtersort{
    display: flex;
    justify-content: space-between;
}
#lab{
    margin-left: 50px;
}
